
<div *ngIf="course">
    <h2><span jhiTranslate="demoApp.course.detail.title">Course</span> {{course.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoApp.course.cname">Cname</span></dt>
        <dd>
            <span>{{course.cname}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.course.ctime">Ctime</span></dt>
        <dd>
            <span>{{course.ctime}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.course.credit">Credit</span></dt>
        <dd>
            <span>{{course.credit}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course/'+ course.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
