<div>
    <h2>
        <span jhiTranslate="demoApp.score.home.title">Scores</span>
        <button class="btn btn-primary float-right jh-create-entity create-score" [routerLink]="['/', { outlets: { popup: ['score-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="demoApp.score.home.createLabel">
            Create new Score
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="scores">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="score"><span jhiTranslate="demoApp.score.score">Score</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="student.id"><span jhiTranslate="demoApp.score.student">Student</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="course.id"><span jhiTranslate="demoApp.score.course">Course</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let score of scores ;trackBy: trackId">
                <td><a [routerLink]="['../score', score.id ]">{{score.id}}</a></td>
                <td>{{score.score}}</td>
                <td>
                    <div *ngIf="score.student">
                        <a [routerLink]="['../student', score.student?.id ]" >{{score.student?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="score.course">
                        <a [routerLink]="['../course', score.course?.id ]" >{{score.course?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../score', score.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'score/'+ score.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'score/'+ score.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="scores && scores.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
