
<div *ngIf="student">
    <h2><span jhiTranslate="demoApp.student.detail.title">Student</span> {{student.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoApp.student.stuName">Stu Name</span></dt>
        <dd>
            <span>{{student.stuName}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.sex">Sex</span></dt>
        <dd>
            <span>{{student.sex}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.phone">Phone</span></dt>
        <dd>
            <span>{{student.phone}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.age">Age</span></dt>
        <dd>
            <span>{{student.age}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.address">Address</span></dt>
        <dd>
            <span>{{student.address}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.remark">Remark</span></dt>
        <dd>
            <span>{{student.remark}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{student.birthDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.student.user">User</span></dt>
        <dd>
            {{student.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
