<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel" jhiTranslate="demoApp.student.home.createOrEditLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.stuName" for="field_stuName">Stu Name</label>
            <input type="text" class="form-control" name="stuName" id="field_stuName"
                [(ngModel)]="student.stuName" required maxlength="20" />
            <div [hidden]="!(editForm.controls.stuName?.dirty && editForm.controls.stuName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stuName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stuName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.sex" for="field_sex">Sex</label>
            <input type="text" class="form-control" name="sex" id="field_sex"
                [(ngModel)]="student.sex" required maxlength="2" />
            <div [hidden]="!(editForm.controls.sex?.dirty && editForm.controls.sex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sex?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sex?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="student.phone" required maxlength="20" />
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="student.age" required min="5" max="100" />
            <div [hidden]="!(editForm.controls.age?.dirty && editForm.controls.age?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.age?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.age?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 5 }">
                    This field should be at least 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.age?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                    This field cannot be more than 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.age?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="student.address" maxlength="200" />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                [(ngModel)]="student.remark"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.birthDate" for="field_birthDate">Birth Date</label>
            <div class="d-flex">
                <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" [(ngModel)]="student.birthDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.birthDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.birthDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoApp.student.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="student.user"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === student.user?.id ? student.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
